<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>編集</title>
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css">
    <meta charset="utf-8" />
  </head>
  <body>
  <div class="container edittop">
  <table>
    <tr th:if="${validationError}" th:each="error : ${validationError}">
        <td style="color:red;" th:text="${error}"></td>
    </tr>
  </table>
    <form th:action="@{/form}" th:object="${todoEdit}" th:method="post">
        <input type="hidden" th:field="*{id}" />
        <table>

            <tr>
                <th class="cell_title">件名</th>
                <th class="cell_required"></th>
                <td><input type="text" th:field="*{title}"></td>
            </tr>

        </table>
        <div class="btn_area_center"><input type="submit" value="保存" class="btn"></div>
        <a class="btn" th:href="@{/todo}">キャンセル</a>
    </form>
  </div>
  </body>
</html>