<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <link th:href="@{/css/stylesheet.css}" rel="stylesheet" type="text/css">
    

    <title>ポートフォリオ</title>
  </head>
  <body>
    <div class="jumbotron">
      <a class="title">PortFolio</a>
    </div>
    <div class="container">
      <div class="contents row mar">
        <div class="left-contents col-md-6">
          <p class="text">
            Androidアプリを作成し公開しています。<br />
            ボタンの状態を切り替えるだけのものです。<br />
            <br />
            使用言語：JAVA<br />

            <br /><br /><span><a target="_blank" href="https://github.com/h-ohshiro/CardsRichMan">GitHubへ</a></span>
          </p>
        </div>
        <div class="right-content col-md-6">
          <div class="appreach">
            <img src="https://play-lh.googleusercontent.com/P9s_-ogUcWyJQ-hIDX0AUBrxitbUNomSE88FY9HEFUp1VuA2y6GEsaEcLKt1tvLT3ls=s128" alt="大富豪必勝" class="appreach__icon" />
            <div class="appreach__detail">
              <p class="appreach__name">大富豪必勝</p>
              <p class="appreach__info">
                <span class="appreach__developper">h.ohshiro</span><span class="appreach__price">無料</span>
              </p>
            </div>
            <div class="appreach__links">
              <a target="_blank" href="https://play.google.com/store/apps/details?id=io.github.ohshiro.cardsrichman" rel="nofollow" class="appreach__gplink"><img src="https://nabettu.github.io/appreach/img/gplay_ja.png" /></a>
            </div>
          </div>
        </div>
      </div>
      <div class="contents row mar">
        <div class="left-contents col-md-6">
          <p class="text">
            JAVA SE11 Silverを取得しています。<br />
            このポートフォリオはSpring Bootで作成しており、<br />
            また、PostgreSQLを使用しユーザー管理アプリを作成しました。<br />
            以下のリンクから利用できます。<br /><br />
            <span><a target="_blank" href="https://github.com/h-ohshiro/portfolio">GitHubへ</a></span>
          </p>
            <form method="get" th:action="@{/login}">
            <input type="submit" value="ユーザー管理アプリへ"></form><br />
        </div>
        <div class="right-contents col-md-6">
          <img class="photo img-fluid" th:src="@{/images/javaSE11.jpg}" alt="JAVA SE11 silverの画像" />
        </div>
      </div>

      <div class="contents row mar">
        <div class="left-contents col-md-6">
          <p class="text">
            ECサイトをフルスクラッチしました。<br />
            商品を登録、かごをカートに入れる、購入手続きと<br />いった一連の流れを作成しました。<br />
            利用書籍：気づけばプロ並みPHP 改訂版<br />使用言語：PHP、mysql<br /><br /><span><a target="_blank" href="https://github.com/h-ohshiro/shop">GitHubへ</a></span>
          </p>
        </div>
        <div class="right-contents col-md-6">
          <img class="photo img-fluid" th:src="@{/images/php.jpg}" alt="PHPの画像" />
        </div>
      </div>

      <div class="contents row mar">
        <div class="left-contents col-md-6">
          <p class="text">
            Google Apps Script（GAS）および<br />
            Messaging APIを利用し、<br />
            LINE Botを作成しました。<br />
            育てている花の水やり周期をスプレッドシートに入力<br />
            すると、定期的に「お水をください」とお花から送信されます。<br>
            使用言語：JavaScript
            <br /><br /><span><a target="_blank" href="https://github.com/h-ohshiro/GAS">GitHubへ</a></span>
          </p>
        </div>
        <div class="right-contents col-md-6">
          <img class="photo img-fluid" th:src="@{/images/LineBot.png}" alt="LINE & GASの画像" />
        </div>
      </div>

      <div class="contents row mar">
        <div class="left-contents col-md-6">
          <p class="text">
            Google Apps Script（GAS）およびYouTube APIを利用し、<br />Twitter Botを作成しました。<br />
            特定のチャンネルの動画情報をランダムにつぶやき宣伝します。<br />
            使用言語：PHP<br /><br /><span><a target="_blank" href="https://github.com/h-ohshiro/akipro">GitHubへ</a></span>
          </p>
        </div>
        <div class="right-contents col-md-6">
          <img class="photo img-fluid" th:src="@{/images/twitter.jpg}" alt="YOU TUBE & Twitterの画像" />
        </div>
      </div>
      <div class="footer"></div>
    </div>
  </body>
</html>
